<!doctype html>
<html>
  <head>
    {% block head %}
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='materialize/js/materialize.js') }}"></script>
    <title>{% block title %}{% endblock %} - Hanzefit</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">
      <div class="row">
        <div class="col l6 m12">
          {% block left_content %}
          {% endblock %}
        </div>
        <div class="col l6 m12">
          {% block right_content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
